<a href="https://colab.research.google.com/github/asbejgama/github-demo/blob/master/MIXUP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fibonacci(n):
  if n == 0 or n == 1:
    return n
  return fibonacci(n-1) + fibonacci(n-2)

In [ ]:
fibonacci(6)

8

In [ ]:
def isperfectsquare(n):
  r = 0
  while r * r < n :
    r += 1
    print(r*r)
  return r * r == n

In [ ]:
print(isperfectsquare(16),isperfectsquare(4))

1
4
9
16
1
4
True True

In [ ]:
def granger(n):
  while n > 0:
    if n % 2 == 1:
      return False
    n //= 10
  return True

In [ ]:
granger(10)

False

Basic Operations in Python

In [ ]:
17//4 # integer division

4

In [ ]:
17/4 #float division

4.25

In [ ]:
print(17%4) # reminder

1

In [ ]:
print(10 ** 2 * 7 - 3)
print(10 ** (2 * 7) - 3)
print(10 ** (2 * 7 - 3))

697
99999999999997
100000000000

In [ ]:
a = 123456789 
b = a ** 2
print(b,end ='\n')
c = b ** 3
print(c,end = '\n')
d = c ** 4
print(d,end = '\n')
e = d ** 5
print(e,end = '\n')
print(len(str(e)))

15241578750190521
3540705968149597751242378595390670323015412790761
157166308290967624614434966485493540963726721698403428784891012586974258380350906625255961242443130286157885664260857440235952354925000777353590796274952836151639520964606157865934675160485092641
95895286347222034791086605662811969785387106853901346544483953642680116799305429392916328044803964544906412568173586838975389693889466931724787382602209026851413718672992500945459050967973754074446682840115185173491232894943036718270805266686475439556591818306146142541531042457606878440869168972012200929781450791973866289435058898863980805449821148199924662026572772426330363272818353600292677639914650163602402387046082945396504228157351617787966026866638977428336270761039733807499229574152744708406709999198108421875593674670017724918532931998179661679487371607921869488779614480174654183050554148246295513430972687654798140382162446340357982348270186444388129720941541158390538541492685710752623852622720768334430468852097226917149171660953626254466986940765253382358001339174903296347169720023617297994349779160697050425373047121064748421434125128308764115407012030949147264066116731171517339637266846118243586757670417982965125332116703787163047835949441767799201
971

In [ ]:
p = divmod

In [ ]:
p(17,5)

(3, 2)

In [ ]:
a = 12
b = 5
a += b
print(a, b)
a -= b
print(a, b)
a *= b
print(a, b)

17 5
12 5
60 5

In [ ]:
a = 12
b = 13
print(a == b - 1,a == b, a != b, a < b, a >= b)

True False True True False

In [ ]:
a = 12.9
b = 3.6
c = a + b
d = a - b
e = a * b #Watch out for the round off error!
f = a / b
print(a, b, c, d, e, f, sep="\n")

12.9
3.6
16.5
9.3
46.440000000000005
3.5833333333333335

In [ ]:
##### UNDERSTAND FLOATING POINT IS ALWAYS APPROXIMATE!
print(2/3)
##### NEVER COMPARE floats FOR EQUALITY
print(12.9 * 3.6 == 46.44)
print(12.9 * 3.6 - 46.44)
print(float(12.9 * 3.6 - 46.44))
EPSILON = 0.0000001
print(abs(12.9 * 3.6 - 46.44) <= EPSILON)

0.6666666666666666
False
7.105427357601002e-15
7.105427357601002e-15
True

In [ ]:
def decimal_str(x: float, decimals: int = 20) -> str:
    return format(x, f".{decimals}f").lstrip().rstrip('0')

In [ ]:
print(decimal_str((12.9 * 3.6 - 46.44)))

0.00000000000000710543

In [ ]:
z = 3-4j

In [ ]:
print(z,z.real,z.imag,abs(z),sep = "\n")

(3-4j)
3.0
-4.0
5.0

Conditonal statements in Python

In [ ]:
attendancePercentage = 70
# In the code below the two print statements are one block. 
# They are indented by 4-spaces to conPythonvey that
if attendancePercentage < 75:
    print("Attendance requirement for Merit certificate not met")
    print("Partcipation Certificate only")

Attendance requirement for Merit certificate not met
Partcipation Certificate only

In [ ]:
attendancePercentage = 80
# In the code below the two print statements are one block. 
# They are indented by 4-spaces to convey that
if attendancePercentage < 75:
    print("Attendance requirement for Merit certificate not met")
    print("Partcipation Certificate only")

as we can see nothing is printed

In [ ]:
attendancePercentage = 80

if attendancePercentage < 75:
    print("Attendance requirement for Merit certificate not met")
    print("Partcipation Certificate only")
else:
    print("Attendance requirement for Merit certificate met")
    print("Verify grades")

Attendance requirement for Merit certificate met
Verify grades

In [ ]:
attendancePercentage = 80
gradePoints = 320
if attendancePercentage < 75:
    print("Attendance requirement for Merit certificate not met")
    print("Participation Certificate only")
elif gradePoints < 300:
    print("Attendance requirement for Merit certificate met")
    print("But insufficient grade")
    print("Participation Certificate only")
else:
    print("Attendance requirement for Merit certificate met")
    print("Grade Requirement for Merit Certificate met")

Attendance requirement for Merit certificate met
Grade Requirement for Merit Certificate met

In [ ]:
#Lets write a while loop to print numbers from 0 to 4 
x = 0
while x < 5:
     print(x)
     x += 1

0
1
2
3
4

Combining conditions

We can combine conditions using and, or and not operators

In [ ]:
attendancePercentage = 80
gradePoints = 320
if attendancePercentage >= 75 and gradePoints >= 300:
    print("Attendance and grade requirement for Merit certificate met")
else: 
    print("Either attendance of grade (or both) insufficient")
    print("Participation certificate only")

Attendance and grade requirement for Merit certificate met

More on blocks

blocks start below a line ending in :

all lines in a block are indented (by 4 spaces)

Nested blocks --> nested indenting

End of block --> unindent

In [ ]:
mark = 76
if mark < 40:
    status = "Fail"
    letterGrade = "F"
else:
    status = "Pass"
    if mark < 50:
        letterGrade = "D"
    elif mark < 60:
        letterGrade = "C"
    elif mark < 75:
        letterGrade = "B"
    elif mark < 90:
        letterGrade = "A"
    else:
        letterGrade = "A+"

Strings, Lists and For Loop in Python

strings

Python strings can be enlosed in single quotes or double quotes or triple quotes! Let us look at each of them

In [ ]:
grading = "Tests, Quizzes, Individual Labs, Group Labs and Hackathons"
print(grading)

Tests, Quizzes, Individual Labs, Group Labs and Hackathons

In [ ]:
tests = "CFU's, Analytical, References and Comprehension"
print(tests)

CFU's, Analytical, References and Comprehension

Note how in the string tests the single quote is accepted as part of the string without any special escpae mechanism. Similarly we can create and use strings with double quotes inside by enclosing the whole string in single quotes. Here is an example.

In [ ]:
faq = 'Almost all ask the question "What is the best k?" when doing kNN'
print(faq)

Almost all ask the question "What is the best k?" when doing kNN

Triple quoted strings are best used for documentation. But they are useful for storing long strings.

We can use single or double quotes
We can also use single quotes or dowuble quotes within
The line breaks etc are captured; that is there is no need for \n

In [ ]:
story = """A long time ago, in a galaxy far far away ...

It is a period of civil war. Rebel spaceships, striking 
from a hidden base, have won their first victory against 
the evil Galactic Empire.

During the battle, Rebel spies managed to steal secret 
plans to the Empire's ultimate weapon, the DEATH STAR, 
an armored space station with enough power to destroy an entire planet.

Pursued by the Empire's sinister agents, Princess Leia 
races home aboard her starship, custodian of the stolen 
plans that can save her people and restore freedom to the galaxy...."""
print(story)

A long time ago, in a galaxy far far away ...

It is a period of civil war. Rebel spaceships, striking
from a hidden base, have won their first victory against
the evil Galactic Empire.

During the battle, Rebel spies managed to steal secret
plans to the Empire's ultimate weapon, the DEATH STAR,
an armored space station with enough power to destroy an entire planet.

Pursued by the Empire's sinister agents, Princess Leia
races home aboard her starship, custodian of the stolen
plans that can save her people and restore freedom to the galaxy....

Simple string operations
Concatnate by +,
multiple concatenation by *
check for substring with in
determine the size (number of characters) using len

In [ ]:
h = "Hello"
w = "world!"
hw = h + w
print(hw)
hsw = h + ' ' + w
print(hsw)
h4s3w2 = 4 * h + " " * 3 + w * 2
print(h4s3w2)
print(h in hsw)
print(' ' in hw)
print(len(h4s3w2))
hw

Helloworld!
Hello world!
HelloHelloHelloHello   world!world!
True
False
35

'Helloworld!'

In [ ]:
f = [1, 1, 2, 3, 5, 8]
p = [2, 3, 5, 7]
grading = ["Tests", "Quizzes", "Individual Labs", "Group Labs", "Hackathons"]
grades = [300, 60, 120, 60, 120]
oddjob = [1, 5.6, True, 4-7j, "Hello", [1, 2], [3.9, "World"]]
for i,num in enumerate(f):
  print(i,num)
print(p[::-1])
print(oddjob[::-1])

p.append(10)
print(p)

0 1
1 1
2 2
3 3
4 5
5 8
[7, 5, 3, 2]
[[3.9, 'World'], [1, 2], 'Hello', (4-7j), True, 5.6, 1]
[2, 3, 5, 7, 10]

In [ ]:
print(len(grading))

5

In [ ]:
# We access individual elements using the index
# The first element is at index 0
print(grades[1], oddjob[4])
# We access the elements from the back using negative indices
# -1 is the last, -2 is the last but one and so on
print(grading[-1], grading[-3])

60 Hello
Hackathons Individual Labs

In [ ]:
print(sum(f), sum(p))

20 27

In [ ]:
print(max(grades), min(grades))

300 60

For

We can step through the items in a collection, such as a list or string (and many others) using for

In [ ]:
for num in f:
    print(num)

1
1
2
3
5
8

for test in grading: print(test)

Note the absence of the usual index variable etc. We can step through the characters in a string the same way

In [ ]:
for ch in "Hello":
  print(ch,end = " ")

H e l l o

In [ ]:
#### List methods

In [ ]:
print(f)

[1, 1, 2, 3, 5, 8]

In [ ]:
f.append(13)

In [ ]:
f

[1, 1, 2, 3, 5, 8, 13]

In [ ]:
f.extend([12,13,14,15])

In [ ]:
f

[1, 1, 2, 3, 5, 8, 13, 12, 13, 14, 15]

In [ ]:
p

[2, 3, 5, 7, 10]

In [ ]:
p = p + [12,13,14,15]

In [ ]:
p

[2, 3, 5, 7, 10, 12, 13, 14, 15]

#### Slicing
We can get substrings and sublists using a slice

In [ ]:
print(f)
print(f[2:7])
print(f[2:11:3])
print(p)
print(p[::-1])

[1, 1, 2, 3, 5, 8, 13, 12, 13, 14, 15]
[2, 3, 5, 8, 13]
[2, 8, 13]
[2, 3, 5, 7, 10, 12, 13, 14, 15]
[15, 14, 13, 12, 10, 7, 5, 3, 2]

In [ ]:
# We can slice strings too
print(h4s3w2[11:26])
print(hsw[2::3])
print(hw[::-1])
type(hw)

elloHello   wor
l r!
!dlrowolleH

str

# Advanced Certification Program in Computational Data Science
## A program by IISc and TalentSprint
### Notebook D: Functions in Python

In [ ]:
def square(n):
  return n * n

In [ ]:
square(5)

25

In [ ]:
square(7.1)

50.41

In [ ]:
print(square(7j))

(-49+0j)

In [ ]:
def is_prime(n):
  if n in [2,3]:
    return True
  if n % 2 == 0:
    return False
  r = 5
  while r * r <= n:
    if n % r == 0:
      return False
    else:
      return True
    r += 2

In [ ]:
print(is_prime(37))

True

In [ ]:
def vowelCount(s):
    """Counts the number of vowels in s and returns the same
    Ignores case of letters"""
    vowels = 'aeiouAEIOU'
    vc = 0
    for ch in s:
      if ch in vowels:
        vc += 1
    print(vc)

In [ ]:
vowelCount("hi hou are you")

7

In [ ]:
print(vowelCount("The quick brown fox jumps over the lazy dog"))

11
None

In [ ]:
def vowelCount1(s):
    """Counts the number of vowels in s and returns the same
    Ignores case of letters"""
    vowels = 'aeiouAEIOU'
    vc = 0
    for ch in s:
      if ch in vowels:
        vc += 1
    return vc

In [ ]:
print(vowelCount1("The quick brown fox jumps over the lazy dog"))

11

In [ ]:
vowelCount?

In [ ]:
vowelCount1?

#### Recursion
Recursion is also pretty simple.

In [ ]:
2 //2

1

In [ ]:
4//2

2

In [ ]:
def isPowerOf2(n):
    """Checks if a number is a power of 2. 
    That is, verifies if an integer p exists such that n == 2 ** p
    Remember 1 is 2 ** 0    """
    if n == 1:
      return True
    if n % 2 == 1:
      return False
    return isPowerOf2(n//2)

In [ ]:
isPowerOf2(16)

True

In [ ]:
isPowerOf2(344)

False

Python functions can return multiple values. The simplest example is the built-in function divmod

In [ ]:
divmod(17,5)

(3, 2)

In [ ]:
quotient,reminder = divmod(17,5)

In [ ]:
print(quotient,reminder)

3 2

In [ ]:
c = divmod(17, 5)
print(c[0])
print(c[1])
print(c)

3
2
(3, 2)

In [ ]:
# our own implementation of divmod
def quotrem(n,d):
  return n//d, n % d

In [ ]:
quotrem(33,4)

(8, 1)

#### Higher Order Functions
Python functions are first class objects. They can be assigned to variables, passed to functions as parameters and returned from functions!

In [ ]:
f1 = square

In [ ]:
f1(4)

16

In [ ]:
# New way of writing function in latest version of Python

def cube(n: int) -> [int]:
  return n ** 3

In [ ]:
cube(3)

27

### Notebook E: Built-in Functions in Python
#### Aggregate Functions
* len(iterable)
* max(iterable)
* min(iterable)
* sorted(iterable[, key][, reverse])
* sum(iterable[, start])

In [ ]:
f = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
g = [7, 12, -4, 17, 12, 11, 0, 9, 21, 6, 13]

In [ ]:
print(len(f),len(g),min(f),max(g))

11 11 1 21

In [ ]:
print(sorted(f))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
print(f[::-1])

[89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1]

In [ ]:
print(sorted(f[::-1]))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
sum(f)

232

#### Extended Boolean
* all(iterable)
* any(iterable)

Think of these as **and**, **or** for lists of booleans

In [ ]:
x = [2 > 3, 5 < 7, False, "Hello" == "World"]
print(all(x))
print(any(x))

False
True

In [ ]:
y = [23 < 44, 44< 55,"d" == "y"]
print(all(y))
print(any(y))

False
True

#### Mathematical
 * abs()
 * divmod(number, divideBy)
 * pow(number, exponent)
 * round(floatVal[, places])

In [ ]:
print(abs(-7))
print(abs(3+4j))

7
5.0

In [ ]:
print(divmod(17, 4))
print(divmod(-17, 4))

(4, 1)
(-5, 3)

In [ ]:
print(pow(3, 4))
print(pow(3.2, 4))
print(pow(4.3, -2.5))

81
104.85760000000002
0.026081277564651822

In [ ]:
print(round(12.3/4.5, 2))
print(round(12.3/4.5))

2.73
3

In [ ]:
12.3/4.5

2.7333333333333334

**bold text**#### Constructors and Converters
 * ascii()
 * bin()
 * bool()
 * chr()
 * complex()
 * float()
 * hex()
 * int()
 * list()
 * oct()
 * ord()
 * set()
 * str()
 * tuple()

 #### Functional, Higher Order
* filter
* map
* zip

In [ ]:
print(bin(22),bool('a' > 'b'),chr(22),complex(3,4),float(2),hex(22),int(3/2),list("string"),ord('S'))

0b10110 False  (3+4j) 2.0 0x16 1 ['s', 't', 'r', 'i', 'n', 'g'] 83

In [ ]:
f = [ 1,  1,  2,  3,  5,  8, 13, 21, 34, 55, 89]
p = [ 2,  3,  5,  7, 11, 13, 17, 19, 23, 29, 31,22]

In [ ]:
def square(n):
    return n * n
def isEven(n):
    return n % 2 == 0
def isPowerOf2(n):
    if n == 1: 
        return True
    if n % 2 == 1:
        return False
    return isPowerOf2(n//2)

In [ ]:
print(list(filter(isEven,f)))
print(list(filter(isPowerOf2,f)))
print(list(filter(isEven,p)))

[2, 8, 34]
[1, 1, 2, 8]
[2]

In [ ]:
print(list(zip(f,p)))

[(1, 2), (1, 3), (2, 5), (3, 7), (5, 11), (8, 13), (13, 17), (21, 19), (34, 23), (55, 29), (89, 31)]

In [ ]:
grading = ["Test", "Quiz", "Individual Lab", "Group Lab", "Hackathon"]
grades = [300, 60, 120, 60, 120]
print(list(zip(grading, grades)))

[('Test', 300), ('Quiz', 60), ('Individual Lab', 120), ('Group Lab', 60), ('Hackathon', 120)]

In [ ]:
print(list(map(square,f)))
print(list(map(cube,f)))

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025, 7921]
[1, 1, 8, 27, 125, 512, 2197, 9261, 39304, 166375, 704969]

In [ ]:
list(filter(isEven,f))

[2, 8, 34]

In [ ]:
print(list(map(square,filter(isEven,f))))

[4, 64, 1156]

Standard Libraries in Python
#### math
Adds the simple math functions such as sqrt, sine, cosine, etc. Also defines the constants such as $\pi, \tau$ and $e$

In [ ]:
import math
print(math.sqrt(25))
print(math.e, math.pi)
print(math.gcd(52, 26))

5.0
2.718281828459045 3.141592653589793
26

#### random
Provides random numbers and related functions. Not meant for crypto usage

In [108]:
import random
print(random.random())
def rollDice():
  return random.randint(1,6)
for i in range(10):
  print(rollDice(),end = ", ")

0.1775799285367473
2, 1, 6, 3, 4, 4, 3, 6, 4, 5,

#### os
Provides hooks to operating system services. Probably the most used one is
os.walk(DIRECTORY)
#### Collections
Provides a few specialised container classes. We will see a counter class soon
itertools

Provides iterator functions for efficient looping
#### functools 

Provides tools for working with functions and other callable objects, to adapt or extend them for new purposes without completely rewriting them.

## External Libraries


**numpy** Array handling abilities; the foundation for all other scientific and Machine Learning algorithm implementations

**scipy** This is not a single library. It is a collection scientific computational modules such as linear algebra, statistics, ODE solvers, optimizers, special functions and so on.

**matplotlib** The comprehensive and somewhat complex plotting library

**seaborn** Combines aesthetic appeal and technical insights – two crucial cogs in a data science

**plotly** Graphing library used to make interactive, publication-quality graphs

**pandas** The swiss army knife of large data manipulation

**pillow** Python imaging library

**openCV** Comprehensive computer vision library

**tweepy** Twitter API

**nltk** a humongous collection of libraries and corpora for natural language processing

**spacy** a NLP library

**Keras** Attempts to be a user friendly neural network library on top of tensorflow

**Tensorflow** A symbolic library and dataflow programming toolkit very suited for complex mahine learning tasks

**pyTorch** Similar to tensorflow but many find it easier to use

###Dictionaries in Python

In [110]:
#Create a dictionary
capitals = {"INDIA" : "New Delhi", "BA" : "Washington DC", "UK" : "London" }

In [111]:
capitals["BA"]

'Washington DC'

In [112]:
capitals["INDIA"]

'New Delhi'

In [113]:
capitals["India"] # case sensitive

KeyError: ignored

In [115]:
len(capitals)

3

In [117]:
capitals.keys()

dict_keys(['INDIA', 'BA', 'UK'])

In [119]:
capitals.values()

dict_values(['New Delhi', 'Washington DC', 'London'])

In [120]:
capitals.items()

dict_items([('INDIA', 'New Delhi'), ('BA', 'Washington DC'), ('UK', 'London')])

In [121]:
capitals["UK"] = ""

In [122]:
len(capitals)

3

In [123]:
capitals.items()

dict_items([('INDIA', 'New Delhi'), ('BA', 'Washington DC'), ('UK', '')])

In [124]:
capitals["AFGANISTHAN"] = "Kabul"

In [125]:
capitals.items()

dict_items([('INDIA', 'New Delhi'), ('BA', 'Washington DC'), ('UK', ''), ('AFGANISTHAN', 'Kabul')])

In [128]:
capitals[(23,24)] = "Number" # dicts can contain tuples

In [129]:
capitals

{(23, 24): 'Number',
 'AFGANISTHAN': 'Kabul',
 'BA': 'Washington DC',
 'INDIA': 'New Delhi',
 'UK': ''}

In [130]:
for k in capitals.keys():
  print (k,capitals[k])

INDIA New Delhi
BA Washington DC
UK
AFGANISTHAN Kabul
(23, 24) Number

In [131]:
#Letter Count
lettercount = {}

In [132]:
s = "TalentSprint is a digital platform designed to transform the lives of professionals in the new economy. Its blended bootcamps offer deeptech skills."

In [133]:
for ch in s:
  ch = ch.lower()
  if ch not in lettercount:
    lettercount[ch] = 1
  else:
    lettercount[ch] += 1

In [134]:
lettercount

{' ': 21,
 '.': 2,
 'a': 7,
 'b': 2,
 'c': 3,
 'd': 6,
 'e': 15,
 'f': 6,
 'g': 2,
 'h': 3,
 'i': 10,
 'k': 1,
 'l': 8,
 'm': 4,
 'n': 9,
 'o': 11,
 'p': 5,
 'r': 6,
 's': 12,
 't': 12,
 'v': 1,
 'w': 1,
 'y': 1}

In [135]:
lettercount.keys()

dict_keys(['t', 'a', 'l', 'e', 'n', 's', 'p', 'r', 'i', ' ', 'd', 'g', 'f', 'o', 'm', 'h', 'v', 'w', 'c', 'y', '.', 'b', 'k'])

In [136]:
lettercount.values()

dict_values([12, 7, 8, 15, 9, 12, 5, 6, 10, 21, 6, 2, 6, 11, 4, 3, 1, 1, 3, 1, 2, 2, 1])

In [137]:
lettercount.items()

dict_items([('t', 12), ('a', 7), ('l', 8), ('e', 15), ('n', 9), ('s', 12), ('p', 5), ('r', 6), ('i', 10), (' ', 21), ('d', 6), ('g', 2), ('f', 6), ('o', 11), ('m', 4), ('h', 3), ('v', 1), ('w', 1), ('c', 3), ('y', 1), ('.', 2), ('b', 2), ('k', 1)])

### Notebook H: Collections, counter

In [138]:
s = "This is a sentence."
import collections

## Create a new Counter() object called frequencies
frequencies = collections.Counter()

## iterate through each letter in the sentence
for letter in s:
    
    ## update the frequencies object with each letter.
    ## the bookkeeping is done by the Counter()
    frequencies.update(letter)

print(frequencies)

Counter({'s': 3, ' ': 3, 'e': 3, 'i': 2, 'n': 2, 'T': 1, 'h': 1, 'a': 1, 't': 1, 'c': 1, '.': 1})

As you can see the Counter() made it very simple to calculate the frequencies. It has a minor flaw. It is not likely that we want to count upper case and lower case letters separately. We make the change below:

In [139]:
s = "This is a sentence."
import collections

## Create a new Counter() object called frequencies
frequencies = collections.Counter()

## iterate through each letter in the sentence
for letter in s:
    
    ## update the frequencies object with each letter.
    ## the bookkeeping is done by the Counter()
    ## convert letter to lower case first
    frequencies.update(letter.lower())

print(frequencies)

Counter({'s': 3, ' ': 3, 'e': 3, 't': 2, 'i': 2, 'n': 2, 'h': 1, 'a': 1, 'c': 1, '.': 1})

By the way, Counter() is smart enough to count the individual elements, if a sequence of them is given. So we can do the above much more simply!

In [140]:
s = "This is a sentence."
import collections
frequencies = collections.Counter(s.lower())

print(frequencies)

Counter({'s': 3, ' ': 3, 'e': 3, 't': 2, 'i': 2, 'n': 2, 'h': 1, 'a': 1, 'c': 1, '.': 1})

Counter() does offer much more functionality.

In [141]:
s = "This is a very long sentence, solely created to explain more features of collections.Counter"
import collections
lett_freq = collections.Counter(s.lower())
lett_freq.most_common(2)

[(' ', 13), ('e', 13)]

As you can see we fed a sentence and got back the top-5 frequently 
occurring letters, with their frequencies. So let us now write a function that finds the most frequently occurring **letter** in a given sentence.

In [142]:
def mostFreqLetter(s):
    import collections
    freq = collections.Counter()
    for ch in s:
        ch = ch.lower()
        if 'a' <= ch <= 'z':
            freq.update(ch)
    return freq.most_common(1)[0]

In [143]:
mostFreqLetter("Old brother fox jumps over the lzay dog in this pangram of English")

('o', 6)

**Counter() cannot count individual floats or integers**

In [145]:
f = [8, 1.2, 1.6, 3.2, 1, 1.2, 5, 600, 1, 3, 1.2, ]
import collections
freq = collections.Counter()
for n in f:
  freq.update(n)
print(freq)

TypeError: ignored

In [146]:
f = [8, 1.2, 1.6, 3.2, 1, 1.2, 5, 600, 1, 3, 1.2, ]
import collections
freq = collections.Counter()
freq.update(f)
print(freq)
print(freq.most_common(2))

Counter({1.2: 3, 1: 2, 8: 1, 1.6: 1, 3.2: 1, 5: 1, 600: 1, 3: 1})
[(1.2, 3), (1, 2)]

### Notebook I: Sets and Tuples in Python
We saw earlier that a list is an ordered mutable collection. There’s also an ordered immutable collection.

In Python these are called tuples and look very similar to lists, but typically written with () instead of []:
Similar to how we used list before, you can also create a tuple via tuple(1,2,3).

The difference being that tuples are immutable. This means no assignment, append, insert, pop, etc. Everything else works as it did with lists: indexing, getting the length, checking membership, etc.

Another thing to note is that strictly speaking, the comma is what makes the tuple, not the parentheses. In practice it is a good idea to include the parentheses for clarity and because they are needed in some situations to make operator precedence clear.

In [147]:
a_list = [1, 2, 3]
a_tuple = (1, 2, 3)

In [148]:
a_tuple = (4, 5, 6)
b_tuple = 4, 5, 6 # Tuple Packaging
a_tuple == b_tuple

True

In [149]:
a,b,c = a_tuple
print(a,b,c)

4 5 6

In [150]:
print(a)

4

In [151]:
x = (89)
type(x)

int

In [152]:
y = (89,)
type(y)

tuple

Items in a list have a definite order, which is what allows us to index into them or sort them. Sometimes you don’t care what the order of items is, simply whether the collection contains it or not. In this case Python has a special type that is probably not familiar to you from other languages: set.

A set is an unordered, mutable collection. In math they’re typically denoted with {}, you can use the same in Python. The difference from dict syntax is that there aren’t key-value pairs separated by :.

Many of the same operations you have on lists and tuples are available on set, but anything dealing with order isn’t. This means you can’t index into a set, or pop a specific element.

In [153]:
s = set([1,2,3]) # Defining a Set

In [154]:
len(s)

3

In [155]:
type(s)

set

In [156]:
s[1] # set doesn't support indexing

TypeError: ignored

In [157]:
a = set([1, 2, 3, 4, 3, 3, 3, 2, 2,323, 3, 4]) # set can't have duplicate values

In [158]:
a

{1, 2, 3, 4, 323}

We can make a set in two ways: set([]) or {[]}. However, we can not have dictionaries, lists, and other sets as a member of a set:

In [159]:
a = set([1,2,3])

In [160]:
a

{1, 2, 3}

In [161]:
b= {4,5,6}

In [162]:
b

{4, 5, 6}

In [163]:
x = set()

In [164]:
x.add(6)

In [165]:
x

{6}

In [166]:
x.add(7)

In [167]:
x

{6, 7}

We can add several members at once using update():

In [169]:
x.update([7,8])

In [170]:
x

{6, 7, 8}

In [173]:
a = {0, 2, 4, 6, 8}
b = {1, 3, 4, 6, 9, 27}

In [174]:
a.union(b)

{0, 1, 2, 3, 4, 6, 8, 9, 27}

In [175]:
a.intersection(b)

{4, 6}

In [176]:
a.intersection_update(b)

In [177]:
a

{4, 6}

In [178]:
b

{1, 3, 4, 6, 9, 27}

In [179]:
a.symmetric_difference(b)

{1, 3, 9, 27}

In [180]:
a.symmetric_difference_update(b)

In [181]:
a

{1, 3, 9, 27}

In [182]:
b

{1, 3, 4, 6, 9, 27}